{% extends 'AmapBundle:Default:tableauLayout.html.twig' %}

{% block main -%}
<div class="row">
    <div class ="col-md-12 titre">
        <h1>Gestion des saison</h1>
    </div>
</div>

<div class="row">
    <table class="table table-striped" id="tableauGestion">
       <thead>
           <tr>
               <th>Libelle</th>
               <th>Date de debut</th>
               <th>Date defin</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
       {% if entities == null %}
            <tr>
                <td>Aucun resultat !</td>
       {% endif %}  
       {% for entity in entities %}
           <tr>
               <td><a href="{{ path('saison_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
               <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d') }}{% endif %}</td>
               <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d') }}{% endif %}</td>
               <td>
                       <a href="{{ path('saison_edit', { 'id': entity.id }) }}"class="btn btn-default btn-xs" role="button">Modifier</a>
                       <a href="{{ path('saison_delete', { 'id': entity.id }) }}" class="btn btn-danger btn-xs" role="button">Supprimer</a>
               </td>
           </tr>
       {% endfor %}
       </tbody>
   </table>
</div>
<div class="row">

    <a href="{{ path('saison_new') }}" class="btn btn-success pull-right" role="button">
        Ajouter une saison
    </a>
</div>


{% endblock %}
