{% extends 'AmapBundle:Default:tableauLayout.html.twig' %}

{% block main -%}
<div class="row">
    <div class ="col-md-12 titre">
        <h1>Gestion des saison</h1>
    </div>
</div>

<div class="row">
    <table class="table" id="tableauGestion">
       <thead>
            <tr>
                <th>Adresse</th>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if entities == null %}
            <tr>
                <td>Aucun resultat !</td>
        {% endif %}   
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('amap_show', { 'id': entity.id }) }}">{{ entity.adresse }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.responsable }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('amap_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('amap_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">

    <a href="{{ path('amap_new') }}" class="btn btn-success pull-right" role="button">
        Ajouter une Amap
    </a>
</div>
{% endblock %}
