{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    {{ form_start(form) }}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Ajouter un panier type</h1>
        </div>
    </div>
      
    <fieldset class="form-group">    
            <div class="row">
                <div class ="col-md-2">
                   {{ form_label(form.libelle,'Libelle :') }}                 
                </div>
                <div class ="col-md-4" >
                        {{ form_widget(form.libelle,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
     </fieldset>
     <fieldset class="form-group">    
            <div class="row">
                <div class ="col-md-2">
                      {{ form_label(form.saison,'Saison :') }} :                 
                </div>
                <div class ="col-md-4" >
                        {{ form_widget(form.saison,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
     </fieldset>
   <fieldset class="form-group">    
            <div class="row">
                <div class ="col-md-2">
                      {{ form_label(form.typePanier,'Type de panier :') }} :                 
                </div>
                <div class ="col-md-4" >
                        {{ form_widget(form.typePanier,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
     </fieldset>
    <fieldset class="form-group">    
            <div class="row">
                <div class ="col-md-2">
                      {{ form_label(form.prix,'Prix du panier :') }} :                 
                </div>
                <div class ="col-md-4">
                    <div class="input-group">
                           {{ form_widget(form.prix,{'attr': {'class': 'form-control'}}) }}
                           <div class="input-group-addon glyphicon glyphicon-eur"></div>
                    </div>
                </div>
            </div>
     </fieldset>
    <div class="row">
            <table class="table" id='tableauGestion'>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody class="bodyLignePanier" data-prototype="{{ _self.lignePanier_prototype(form.lignesPanier.vars.prototype)|e('html_attr')  }}">

                    {% for lignePanier in form.lignesPanier %}
                        {{ _self.lignePanier_prototype(lignePanier) }}
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="row">
        <a href="#" class="btn btn-success add pull-right" >
            Ajouter un produit au panier
        </a>
    </div>
    <div class="row">
        <div class ="col-md-6">

            {{ form_widget(form.submit)}}
            <div class="hidden">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
<div class="row">
        <div class="record_actions">
            <ul>
                <li>
                    <a href="{{ path('panierType') }}">
                        Retourner à la liste des paniers
                    </a>
                </li>
            </ul>
        </div>
    </div








{% endblock %}
{% macro lignePanier_prototype(lignePanier) %}
    <tr>
        <td> {{ form_widget(lignePanier.produit) }}</td>
        <td> {{ form_widget(lignePanier.quantiteParDefaut) }}</td>
    </tr>
{% endmacro %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 
        '@AmapBundle/Resources/public/js/panier/lignePanier.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}