{% extends 'AmapBundle:Default:layout.html.twig' %}


{% block main -%}

    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Panier type : {{ entity.libelle }} </h1>
        </div>
    </div>
    <div class="row">
        <div class ="col-md-12 ">
            Saison : {{entity.saison}}
        </div>
    </div>
    <div class="row">
        <div class ="col-md-12 ">
            Type de panier : {{entity.typePanier}}
        </div>
    </div>
    <div class="row">
        <div class ="col-md-12 ">
            Prix : {{entity.prix}}
        </div>
    </div>
    <div class="row">
        <div class ="col-md-6">

            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody class="bodyLignePanier">
                {{ entity.lignesPanier|length}}
                    {% for lignePanier in entity.lignesPanier %}
                        <tr>
                            <td>{{lignePanier.produit.libelle}}</td>
                            <td>{{lignePanier.quantiteParDefaut}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
 


    <ul class="record_actions">
        <li>
            <a href="{{ path('panierType') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('panierType_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
