{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>Nom: {{user.nom}}</p>
    <p>Prenom: {{user.prenom}}</p>
    <p>Adresse: {{user.adresse}}</p>
    <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profile</a></br>
    <a href="{{ path('fos_user_resetting_request') }}">Modifier mon mot de passe</a></br>
</div>