{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Gestion des mes préferences</h1>
        </div>
    </div>
    <div class="row">
            <table class="table table-striped"  id="tableauGestion">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Préférence</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.produit.libelle }}</td>
                            <td>
                                {%if entity.preference == "oui" %}
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button data-id="{{ entity.id }}" type="button" class="btn btn-primary active oui">oui</button>
                                        <button data-id="{{ entity.id }}"type="button" class="btn btn-primary non">non</button>
                                    </div>
                                {%else%}
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button data-id="{{ entity.id }}" type="button" class="btn btn-primary  oui">oui</button>
                                        <button data-id="{{ entity.id }}"type="button" class="btn btn-primary active non">non</button>
                                    </div>
                                {%endif%}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    {% javascripts 
        '@AmapBundle/Resources/public/js/preferenceConsommateur/preferenceConsommateur.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}