{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Contrats pour la saison {{entity.saison.libelle}}</h1>
        </div>
    </div>
    <div class="row">
        <div class ="col-md-12">
            {{ form(edit_form) }}

            <ul class="record_actions">
                <li>
                    <a href="{{ path('contratConsommateur') }}">
                        Retour aux contrats consomateurs
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {%for panier in paniers%}

                <div class="col-md-3 panier">
                    <div class="container-fluid">
                        <div class="row entetePanier">

                            {{panier.libelle}} <div class="pull-right">  {{panier.prix}}</div>

                        </div>

                        <div class="row contentPanier">
                            {%for lignePanier in panier.LignesPanier%}
                                <div class="row">
                                    {{lignePanier.produit.libelle}} : {{lignePanier.quantiteParDefaut}}
                                </div>
                            {%endfor%}
                        </div>

                    </div>
                </div>
            {%endfor%}
        </div>
    </div>

{% endblock %}
