<<<<<<< HEAD
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContratConsommateur list</h1>

    <table class="records_list">
=======
{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
<div class="row">
    <div class ="col-md-12 titre">
        <h1>Gestion des contrats consomateurs</h1>
    </div>
</div>
<div class="row">
    <table class="table" id="tableauGestion">
>>>>>>> 3c0155268c47f5d7c634c6eb1b7a646c6ac757eb
        <thead>
            <tr>
                <th>Consommateur</th>
                <th>Listelivraison</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
<<<<<<< HEAD
                <td><a href="{{ path('contratconsommateur_show', { 'id': entity.id }) }}">{{ entity.consommateur }}</a></td>
=======
                <td><a href="{{ path('contratConsommateur_show', { 'id': entity.id }) }}">{{ entity.consommateur }}</a></td>
>>>>>>> 3c0155268c47f5d7c634c6eb1b7a646c6ac757eb
                <td>{{ entity.listeLivraison }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
<<<<<<< HEAD
                        <a href="{{ path('contratconsommateur_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contratconsommateur_edit', { 'id': entity.id }) }}">edit</a>
=======
                        <a href="{{ path('contratConsommateur_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contratConsommateur_edit', { 'id': entity.id }) }}">edit</a>
>>>>>>> 3c0155268c47f5d7c634c6eb1b7a646c6ac757eb
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD

        <ul>
        <li>
            <a href="{{ path('contratconsommateur_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
=======
</div>
<div class="row">

    <a href="{{ path('contratConsommateur_new') }}" class="btn btn-success pull-right" role="button">
        Ajouter un magasin
    </a>
</div>
{% endblock %}
{% block javascripts %}
    $(document).ready(function() {
    $('#tableauGestion').DataTable();
} );
        {% endblock %}
>>>>>>> 3c0155268c47f5d7c634c6eb1b7a646c6ac757eb
