{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    <h1>Produit list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Saison</th>
                <th>Typeproduit</th>
                <th>Unitemesure</th>
                <th>Prixunitaire</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
                <td>{{ entity.saison }}</td>
                <td>{{ entity.typeProduit }}</td>
                <td>{{ entity.uniteMesure }}</td>
                <td>{{ entity.prixUnitaire }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('produit_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produit_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
