{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
<div class="row">
    <div class ="col-md-12 titre">
         <h1>Produit</h1>
    </div>
</div>
   
<div class="row">
    <table class="table table-striped"> 
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Saison</th>
                <td>{{ entity.saison }}</td>
            </tr>
            <tr>
                <th>Typeproduit</th>
                <td>{{ entity.typeProduit }}</td>
            </tr>
            <tr>
                <th>Unitemesure</th>
                <td>{{ entity.uniteMesure }}</td>
            </tr>
            <tr>
                <th>Prixunitaire</th>
                <td>{{ entity.prixUnitaire }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
        <div class ="col-md-1">
            <a href="{{ path('produit_edit', { 'id': entity.id }) }}"  class="btn btn-default" role="button">
                Modifier
            </a>
        </div>
        <div class ="col-md-1">   
            {{ form(delete_form) }}
        </div>    
    </div>
        

    <div class="row">
        <div class="record_actions">
            <ul>
                <li>
                    <a href="{{ path('produit') }}">
                        Retourner à la liste des produits
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
