{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
<div class="row">
    <div class ="col-md-12 titre">
         <h1>Magasin</h1>
    </div>
</div>
<div class="row">
    <table class="table table-striped"> 
        <tbody>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.adresse }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ entity.responsable }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
        <div class ="col-md-1">
            <a href="{{ path('magasin_edit', { 'id': entity.id }) }}"  class="btn btn-default" role="button">
                Modifier
            </a>
        </div>
        <div class ="col-md-1">   
            {{ form(delete_form) }}
        </div>    
    </div>
        

    <div class="row">
        <div class="record_actions">
            <ul>
                <li>
                    <a href="{{ path('magasin') }}">
                        Retourner à la liste des magasins
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
