{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
 {{ form_start(edit_form) }}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Edition de responsable</h1>
        </div>
    </div>
    
     <fieldset class="form-group">    
        <div class="row">
            <div class ="col-md-2">
                {{ form_label(edit_form.email,'Adresse email :') }}
            </div>
            <div class ="col-md-4" >
                    {{ form_widget(edit_form.email,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">    
        <div class="row">
            <div class ="col-md-2">
                {{ form_label(edit_form.username,"Nom d'utilisateur :") }}
            </div>
            <div class ="col-md-4" >
                    {{ form_widget(edit_form.username,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">    
           <div class="row">
               <div class ="col-md-4" >
                       {{ form_widget(edit_form.plainPassword) }}                    
               </div>
           </div>
    </fieldset>
     <fieldset class="form-group">    
        <div class="row">
            <div class ="col-md-2">
                {{ form_label(edit_form.nom,'Nom :') }}
            </div>
            <div class ="col-md-4" >
                    {{ form_widget(edit_form.nom,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">    
        <div class="row">
            <div class ="col-md-2">
                {{ form_label(edit_form.prenom,'Prénom :') }}
            </div>
            <div class ="col-md-4" >
                    {{ form_widget(edit_form.prenom,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">    
        <div class="row">
            <div class ="col-md-2">
                {{ form_label(edit_form.adresse,'Adresse :') }}
            </div>
            <div class ="col-md-4" >
                    {{ form_widget(edit_form.adresse,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
 <fieldset class="form-group">
         <div class="row">
                <div class ="col-md-1">
                    {{ form(edit_form) }}
                </div>
                <div class ="col-md-1">
                    {{ form(delete_form) }}
                </div>
        <div>
    </fieldset>
    <div class="row">
        <div class="record_actions">
            <ul>
                <li>
                    <a href="{{ path('responsable') }}">
                        Retourner à la liste des responsables
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
