{% extends 'AmapBundle:Default:layout.html.twig' %}
{% block main -%}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Gestion des responsable</h1>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('responsable_show', { 'id': entity.id }) }}">{{ entity.Nom }}</a></td>
                        <td>{{ entity.Prenom }}</td>
                        <td>{{ entity.Adresse }}</td>
                        <td>{{ entity.Email }}</td>
                        <td>
                            <a href="{{ path('responsable_delete', { 'id': entity.id }) }}" class="btn btn-danger btn-xs" role="button">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">

        <a href="{{ path('responsable_new') }}" class="btn btn-success pull-right" role="button">
            Ajouter un responsable
        </a>
    </div>
{% endblock %}
