{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
<div class="row">
    <div class ="col-md-12 titre">
        <h1>Responsable</h1>
    </div>
</div>
<div class="row">
   <table class="table table-striped"> 
       <tbody>
            <tr>
                <th>Nom :</th>
                <td>{{ entity.nom }}</td>
            </tr>
            
            <tr>
                <th>Prénom :</th>
                <td>{{ entity.prenom }}</td>
            </tr>
             <tr>
                <th>Adresse email :</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
 <div class="row">
        <div class ="col-md-1">
            <a href="{{ path('responsable_edit', { 'id': entity.id }) }}"  class="btn btn-default" role="button">
                Modifier
            </a>
        </div>
        <div class ="col-md-1">   
            {{ form(delete_form) }}
        </div>    
    </div>
        

    <div class="row">
        <div class="record_actions">
            <ul>
                <li>
                    <a href="{{ path('responsable') }}">
                        Retourner à la liste des responsables
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
