{% extends 'AmapBundle:Default:layout.html.twig' %}

{% block main -%}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1><h1>Production</h1></h1>
        </div>
    </div>
    

    <table class="table table-striped"> 
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th class="col-md-2">Produit </th>
                <td class="col-md-3">{{ entity.produit }}</td>
            </tr>
            <tr>
                <th class="col-md-2">Quantite livrée</th>
                <td class="col-md-3">{{ entity.quantiteLivree }}</td>
            </tr>
            <tr>
                <th class="col-md-2">Date de livraison</th>
                <td class="col-md-3">{{ entity.dateLivraison|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th class="col-md-2">Date de lancement</th>
                <td>{{ entity.dateLancement|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class ="col-md-1">
            <a href="{{ path('production_edit', { 'id': entity.id }) }}"  class="btn btn-default" role="button">
                Modifier
            </a>
        </div>
        <div class ="col-md-1">   
            {{ form(delete_form) }}
        </div>    
    </div>
        

    <div class="row">
        <div class="record_actions">
            <ul>
                <li>
                    <a href="{{ path('production') }}">
                        Retourner à la liste des productions
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
