{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Production</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Produit</th>
                <td>{{ entity.produit }}</td>
            </tr>
            <tr>
                <th>Quantitelivree</th>
                <td>{{ entity.quantiteLivree }}</td>
            </tr>
            <tr>
                <th>Datelivraison</th>
                <td>{{ entity.dateLivraison|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datelancement</th>
                <td>{{ entity.dateLancement|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ entity.statut }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('production') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('production_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
